body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landingForm {
  background-image: url('../images/gardeningLogo.jpg');
}


.btn-sm {
  width: 100%;
  margin: 0.5rem 0 0 0;
}

.container-sm {
  max-width: 25rem;
}

.is-invalid {
  border-color: #dc3545;
}

.invisible {
  transition: opacity 0.5s;
  opacity: 0;
}

.visible {
  transition: opacity 0.5s;
  opacity: 1;
}
